*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest.toml

!bin/Manifest.toml

.vscode
lcov.info
build
docs_build/

# old Documenter ignores
docs/site
docs/src/assets/main.css
docs/src/assets/indigo.css

# VitePress ignores
node_modules
docs/page/.vitepress/dist
